<div class = "main">
    <div class="flame">
      <%= form_with(model: @variablecost, local: true) do |f|%>
      <div class="list">
        <ul>
          <li>日付:<%= f.date_field :day, class:"daytime", placeholder:"月" %></li>
          <li>ジャンル:<%= f.collection_select(:genre_id, Genrevariable.all, :id, :name, {},{class:"genre"})%></li>
          <li>金額:<%= f.text_field :price, class:"price", placeholder:"金額" %></li>
          <li>メモ:<%= f.text_area :memo, class:"memo", placeholder: "備考", rows: "3" %></li>
        </ul>
      </div>
      <div class ="btn"><%= f.submit "記入する", class: "input_btn" %></div>
    </div>
    <% end %>
</div>